/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
.main_header {
  border-bottom: 1px solid #e7e9fc;
}
.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* display: flex; */
  /* align-items: center; */
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: bold;
  font-size: 18px;
  margin-right: 76px;
}
.logo--studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav--link {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.nav--link:hover {
  color: #404bbf;
}
.nav--link:focus {
  color: #404bbf;
}
.contacts {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 16px;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.address--link {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: medium;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address--link:hover {
  color: #404bbf;
}
.address--link:focus {
  color: #404bbf;
}
/* 1 section */
.section--title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: url(./images);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section--title .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
.title--text {
  font-weight: bold;
  line-height: 60px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
}
.button--service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
.button--service:hover {
  background-color: #404bbf;
}
.button--service:focus {
  background-color: #404bbf;
}
/* 2 section */
.section--features {
  padding: 120px 0;
}

.features {
  display: flex;
  gap: 24px;
}
.item {
  width: calc((100% - 72px) / 4);
}
.feature {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* 3 section */
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team {
  display: flex;
  gap: 24px;
}
.teamcard {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.card_name {
  padding: 32px 0;
}
.post-description {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* 4 section */
.section_portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 72px;
}
.project_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project_card {
  width: calc((100% - 48px) / 3);
}
.photo {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.project_div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.project {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.project-description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* footer */
.footer_logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.logo--studio--footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
